
:root{
    --vermelho: #e50914;
    --preto:#000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Base*/
body{
background: var(--preto);
font-family: 'Netflix sans';
color: white;
}
 header .container{
     margin-left: 10px;
     display: flex;
     flex-direction: row;
     align-items: center;
     align-content: center;
     justify-content: flex-start;
 }
 header .logo{
     margin-top: 15px;
     margin-left: 10px;
     margin-right: 50px;
 }
header nav a{
    
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 20px;    
}

header nav a:hover{
    color: #fff;

}
/*Serie Principal*/
.serie-principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0, .50),rgba(0,0,0,.50)100%), url(../img/fundo.jpg);

    height: 500px;
    background-size: cover;
    background-position: center;

    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.serie-principal .descricao{
    margin-top: 5px;
    margin-left: 10px;
  
}
.serie-principal .titulo{
 

}
.serie-principal h2{
    margin-left: 10px; 
    font-size: 25px;
    color: rgb(250, 250, 250,.90); 
}
.serie-principal p{
    max-width: 600px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(250, 250, 250); 
}

/*Botões ASSISTIR E INFO*/
.botao{
    background-color: rgba(65,65,65, 0.6);
    border: none;
    color: #fff;

    padding: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
    border-radius: 4px;
}
.botao:nth-child(1){
    background-color: #fff;
    color: #000000;
}

.botao:nth-child(1):hover{
    background-color: rgba(255, 255, 255, .50);
    color: var(--preto);
}
.botao:nth-child(2):hover{
    background-color: rgba(65, 65, 65, 0.3);
    color: #fff;
}
.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 30px;
}

.box-serie{
    height: 100%;
    width: 100%;
    display: block;
}

/*PAINEL DE SELECAO CARROSEL*/
.carrosel-serie{
    margin: 15px;
}
.carrosel-serie .item img{
    border-radius: 12px;
}
.carrosel-serie p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-left: 10px;
}
/*Série em destque*/
.destaque-wrapper{
    display:flex;
    width: 100% ;
    height: 50vh;

    background:linear-gradient(rgba(0,0,0, .80),rgba(0,0,0, .90)100%), url(../img/fundo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.autoplay-left{
    width: 50%;
    height: inherit;
    display: grid;
    place-items: center;
}
.autoplay-left iframe{
    width: 80%;
    height: 80%;
    border-radius: 20px;
}
.info-right{
    width: 50%;
    height: inherit;
    display: grid;
    place-items: center;
}
.info-right .destaque-arte{
    width: 50%;
    height: 200px;
    background-image: url(../img/tit-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.info-right .destaque-texto{
    font-size: 25px;
    max-width: 600px;
    padding: 0 2%;
}
.info-right .destaque-texto p{
    font-weight: 100;
    font-size: 16px;
}